@model IdeoTask.Models.CatalogViewModel
@namespace IdeoTask.Services.DTO
@{
    ViewData["Title"] = "My task";
}
    <div id="indexMain">
        <button class="btn-dark sortBtn" name="sort" value="NameAsc">Sort by Name(a-z)</button>
        <button class="btn-dark sortBtn" name="sort" value="NameDesc">Sort by Name(z-a)</button>
        <button class="btn-dark sortBtn" name="sort" value="DateAsc">Sort by Date</button>
        <button class="btn-dark sortBtn" name="sort" value="DateDesc">Sort by Date descending</button>

        <div class="mainContainer">
            <div id="treeBlock" class="leftBlock">
                <partial name="IndexPartialView" model="Model" />
            </div>
            <div id="funcBlock" class="rightBlock">
            </div>
        </div>
    </div>

