@model IdeoTask.Models.CatalogViewModel
@{
    ViewData["Title"] = "My task";
}

    <div class="text-center">
        Hello world!
        @foreach (var item in Model.CatalogDTOs)
        {
            <p>@item.Name   @item.CreatedData</p>
        }
    </div>
