@model IdeoTask.Models.CatalogViewModel
@namespace IdeoTask.Services.DTO
@{
    ViewData["Title"] = "My task";
}
    <div class="mainContainer">
        <div id="treeBlock" class="leftBlock">
            <partial name="IndexPartialView" model="Model" />
        </div>
        <div id="funcBlock" class="rightBlock">
            <a onclick="" class="btn-block" asp-action="Create" asp-controller="Home">Create</a>
            <a class="btn-block" asp-action="Update" asp-controller="Home">Update</a>
            <a class="btn-block" asp-action="Delete" asp-controller="Home">Delete</a>
            <partial name="CreatePartialView" />
        </div>
    </div>
