@model IdeoTask.Models.CatalogViewModel
@namespace IdeoTask.Services.DTO

@foreach (var item in Model.BranchList)
{
    <ul class="treeElement">
        <li class="treeElementChild">
            @item.Name
            @if (item.IsLeaf == false)
            {
                <i class="fa fa-angle-down treeElementIcon" aria-hidden="true"></i>
                <a data-id="@item.Id" class="createAnchor" href="javascript:void(0);">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                </a>
            }
            <a data-id="@item.Id" class="editAnchor" href="javascript:void(0);">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a data-id="@item.Id" class="deleteAnchor" href="javascript:void(0);">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </li>

        @if (item.BranchChildren != null)
        {
            CatalogViewModel obj = new CatalogViewModel
            {
                BranchList = item.BranchChildren
            };

            <partial name="IndexPartialView" model="obj" />
        }
    </ul>
}
