@model IdeoTask.Models.CatalogViewModel
@namespace IdeoTask.Services.DTO
@{
    ViewData["Title"] = "My task";
}
    <div class="mainContainer">
        <div id="treeBlock" class="leftBlock">
            <partial name="IndexPartialView" model="Model" />
        </div>
        <div id="funcBlock" class="rightBlock">
        </div>
    </div>
